.login {
    display: flex;
    justify-content: center;
}

#un_div{
    display: none;
}
#app {
    margin-top: 0 !important;
}

.register{
    margin: auto;
    width: 50%;
    position: center;
}

.space {
    margin-left: 15px;
    margin-right: 5px;
}

.reportes{
    margin-top: 50px !important;
    margin: auto;
    width: 30%;
    position: fixed;
}

.reportes b {
    text-align: justify-all;
}

.enterStock{
    margin-top: 10px !important;
    margin: auto;
    width: 20%;
    position: absolute;
}

.agrStockBtn{
    background-color:#267e2b;
    width: 100px;
    height: 60px;
    position: absolute;
    left: 280px;
    top: 80px;
}
.deleteBtn{
    background-color:red;
    width: 100px;
    height: 80px;
    position: absolute;
    left: 280px;
    top: 160px;
    margin-left: auto;
}

.loadSistemBtn{
    background-color: #248394;
    width: 100px;
    height: 80px;
    position: absolute;
    left: 280px;
    top: 260px;
}

.enterStockTable{
    margin-top: 20px !important;
    position: absolute;
    left: 390px;
    top: 50px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-spacing: 1px;
    width: 70%;
    border-collapse: collapse;
}


.titleLogin {
    font-family: "Arial Rounded MT Bold";
    font-size: 90%;
    text-align: center;
    font-style: italic;
}

.accept{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
.logo {
    margin-top: 20px;
}

body {font-family: Arial, Helvetica, sans-serif; margin: 0;}
form {border: 3px solid #f1f1f1;}

.login-form {
    width: 40%;
    margin: auto;
    text-align: left;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #267e2b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.formBtn{
    width: auto;
    margin-left: 20px;
    margin-right: 10px;
    height: 25px;
    background-color: #267e2b;
    color: white;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    text-decoration: none !important;
    background-color: #f44336;
    text-align: left;
    color: white;
    font-family: "Montserrat SemiBold";
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.active {
    color: green;
    background-color: #70BF73;
}

.table {
    margin-left: 15px;
    padding: 5px;
    text-align: center;
    width: 98%;
    border-collapse: collapse;
}



.table, th, td {
    border: 1px solid black;
}

th, td{
   padding: 4px !important;
}


.infoTabla{
    text-align: center;
}

.modifBtn{
    width: auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #70BF73;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    width: 160px;
}
.simbolos{
    margin: 8px;
}

* {
    margin:0px;
    padding:0px;
}

#header {
    overflow: hidden;
    background-color: #399645;
    display: flex;
    justify-content: space-between;
    width:auto;
    font-family:Montserrat;
}

ul, ol {
    z-index: 100;
    list-style:none;
}

.nav > li {
    z-index: 100;
    float:left;
}

.nav li a {
    z-index: 100;
    background-color: #225a2a;
    color: #f5fcf7;
    text-decoration:none;
    padding:10px 12px;
    display:block;

}

.nav li a:hover {
    z-index: 100;
    background-color: #29b832;
}

.nav li ul {
    z-index: 100;
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
    z-index: 100;
    min-width: 100px;
}

.nav li ul li {
    position:relative;
    z-index: 100;
}

.nav li ul li ul {
    z-index: 100;
    right:-140px;
    top:0px;
}
/***********************************************************************************+*/

ul, ol {
    list-style:none;
}

.navStock > li {
    float:left;
}

.navStock li a {
    background-color: #196963;
    color: #f5fcf7;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.navStock li a:hover {
    background-color: #0d9b84;
}

.navStock li ul {
    display:none;
    position:absolute;
    min-width:155px;
    width: auto;
}

.navStock li:hover > ul {
    display:block;
}

.navStock li ul li {
    position:relative;
}

.navStock li ul li ul {
    right:-140px;
    top:0px;
}


