.login {
    display: flex;
    justify-content: center;
}
#app {
    margin-top: 0 !important;
}

.register{
    margin: auto;
    width: 40%;
    position: center;
}

.titleLogin {
    font-family: "Arial Rounded MT Bold";
    font-size: 90%;
    text-align: center;
    font-style: italic;
}
.accept{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
.logo {
    margin-top: 20px;
}
body {font-family: Arial, Helvetica, sans-serif; margin: 0;}
form {border: 3px solid #f1f1f1;}

.footer {
    font-family: "Arial Rounded MT Bold";
    margin-top: 20px;
}
.login-form {
    width: 40%;
    margin: auto;
    text-align: left;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #5ccb4e; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.inicio{
    text-align: left;
    background-color: darkgreen;
}
.redireccionar{
    text-align: left;
    background-color: #60ac05;
}

.cerrar{
    text-align: left;
    background-color: #f82342;
    margin-top: 300px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fafafa;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #a1ecb9;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.creUs{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
    position: center;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.topnav {
    overflow: hidden;
    background-color: #14db74;
    display: flex;
    width: auto;
    margin-left: 550px;
    margin-right: 400px;
    justify-content: space-between;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #dddddd;
    color: black;
}
.active {
    color: green;
    background-color: #70BF73;
}

.table{
    margin-left: 200px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-spacing: 1px;
}

.infoTabla{
    text-align: left;
}